<div class="jumbotron">
  <center>
    <h1>Welcome to Launchpad's Seeds</h1>
    <img src="https://d3atagt0rnqk7k.cloudfront.net/wp-content/uploads/2017/06/29104402/amnesia-haze-strain-960x600.jpg" alt="launchpad's Seeds">
    <br>
    <%= link_to "Check out our Seeds", seeds_path, class: "btn btn-default" %>
  </center>  
</div>